# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints

# DevContainer
!.devcontainer/*

# Demo
serve_images/
/docs/
/41328635-0.png
/test/
